<div class="row">
	<div class="small-10 small-offset-1 columns">
		<h1>Add a new dungeon...</h1>
		<%= simple_form_for @dungeon do |f| %>
			<br class="clr" />
			<%= f.submit 'Create' %>
		<% end %>
	</div>
</div>