<div class="row">
	<div class="small-10 small-offset-1 columns">
		<h1>Monsters</h1>
		<%= link_to 'Add new...', new_monster_path %>
		<br />
		<br />
	</div>
</div>
<div class="row">
	<% @monsters.each do |monster| %>
		<div class="small-5 small-offset-1 columns">
			<h6>
				<%= link_to monster.name, monster_path(monster) %>
			</h6>
			</div>
	<% end %>
</div>