<div class="row">
	<div class="small-10 small-offset-1 columns">
		<h1>Characters</h1>
		<%= link_to 'Add new...', new_character_path %>
		<br />
		<br />
		<% @characters.each do |character| %>
		<p>
		<%= link_to character.name, character_path(character) %>
		</p>
		<% end %>
	</div>
</div>