<div class="row">
	<div class="small-10 small-offset-1 columns">
		<h1>Add a new character...</h1>
		<%= simple_form_for @character do |f| %>
			<%= f.input :name %>
			<%= f.input :level, :collection => 1..20 %>
			<br class="clr" />
			<%= f.submit 'Create' %>
		<% end %>
	</div>
</div>