<div class="row">
	<div class="small-10 small-offset-1 columns">
<!--		<div>
			<table>
				<% @room.length.times do |row| %>
					<tr>
						<% @room.width.times do |data| %>
							<td style="visibility:hidden;">[]</td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div> -->
		<%= link_to 'Destroy', room_path(@room), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this?'}, :class => "button tiny alert" %>
	</div>
</div>